$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$ultra: 1200px;

$colorPrimario: #0D33B3;
$colorBlanco: #FFFFFF;
$colorNegro: #1C1C1C;
$colorGris: #B5B5B5;

$fuenteSecundaria: 'Satisfy', cursive;
$fuenteTercera: 'Tangerine', cursive;
